body {
  background: RGBA(2, 0, 36, 1);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 77, 1) 100%
  );
  color: white;
  overflow-x: hidden;
  font-family: "inter";
}
